.nav{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    list-style: none;
    cursor: pointer;
}
.about{
    padding: 50px;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    position: absolute;
width: 500px;
height: 4.46px;
left: 700.99px;
top: 5.54px;
/* font-family: 'New York Small';
font-style: normal;
text-transform: uppercase; */

}
.contant{
    text-align: center;
    font-family: 'New York Extra Large';
    position: absolute;
width: 858px;
height: 162px;
left: 291px;
top: 186px;

font-family: 'New York Extra Large';
font-style: normal;
font-weight: 700;
font-size: 54px;
line-height: 100%;
/* or 54px */

text-align: center;

color: #000000;
}
.ghost{
    
    position: absolute;
    width: 626px;
    height: 68px;
    left: 407px;
    top: 380px;
    cursor: pointer;
    font-family: 'SF Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 170%;
    /* or 34px */
    
    text-align: center;
    
    color: #000000;
}
.img2{
    position: absolute;
    cursor: pointer;
height: 900px;
left: 0px;
top: 500px;
}
.line{
    position: absolute;
width: 640px;
height: 0px; 
left: 400px;
top: 1432px;

border: 2px solid #000000;
}
.img3{
    position: absolute;
    width: 57px;
    height: 57px;
    left: 399px;
    top: 1456px;
    cursor: pointer;
    background: url(.png);
    
}
.text{
    position: absolute;
width: 162px;
height: 19px;
left: 472px;
top: 1461px;

font-family: 'SF Pro Text';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
/* identical to box height */

letter-spacing: 0.05em;
text-transform: uppercase;

color: #000000;
}
.text2{
    position: absolute;
width: 191px;
height: 19px;
left: 472px;
top: 1488px;

font-family: 'SF Pro Text';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */


color: #000000;
}
.twitter{
    cursor: pointer;
position: absolute;
width: 19.62px;
height: 16px;
left: 995px;
top: 1476px;

background: #e0dede;
}
.f{
   
    position: absolute;
    width: 19.62px;
    height: 16px;
    left: 955px;
    top: 1476px;
    cursor: pointer;
    background: #e0dede;

}
.text5{
    position: absolute;
width: 640px;
height: 238px;
left: 400px;
top: 1565px;

font-family: 'New York Medium';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 170%;
/* or 34px */


color: #000000;
}
.text6{
    position: absolute;
width: 288px;
height: 51px;
left: 400px;
top: 1860px;

font-family: 'SF Pro Display';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 160%;
/* or 51px */


color: #000000;

}
.text7{
    position: absolute;
width: 640px;
height: 228px;
left: 400px;
top: 1935px;

font-family: 'New York Medium';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 170%;
/* or 34px */


color: #000000;
}
.pro{
    position: absolute;
width: 854px;
height: 570px;
left: 293px;
top: 2215px;
cursor: pointer;
background: url(.jpg);
}
.text9{
    position: absolute;
width: 481px;
height: 44px;
left: 479px;
top: 2797px;

font-family: 'SF Pro Text';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 140%;
/* or 22px */

text-align: center;

color: #000000;
}
.new{
    position: absolute;
width: 640px;
height: 272px;
left: 400px;
top: 2893px;

font-family: 'New York Medium';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 170%;
/* or 34px */


color: #000000;
}
.new2{
    position: absolute;
width: 640px;
height: 34px;
left: 400px;
top: 3217px;

font-family: 'New York Medium';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 170%;
/* identical to box height, or 34px */


color: #000000;
}
.li{
    position: absolute;
width: 588px;
height: 168px;
left: 424px;
top: 3270px;

font-family: 'New York Medium';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 170%;
/* or 34px */


color: #000000;
}
.new4{
    position: absolute;
width: 640px;
height: 68px;
left: 400px;
top: 3490px;

font-family: 'New York Medium';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 170%;
/* or 34px */


color: #000000;
}
.new5{
    position: absolute;
width: 640px;
height: 68px;
left: 400px;
top: 3610px;

font-family: 'New York Medium';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 170%;
/* or 34px */


color: #000000;
}
.new6{
    box-sizing: border-box;

position: absolute;
width: 640px;
height: 64px;
right: 260px;
top: 3755px;

background: #FFFFFF;
border: 1px solid #EAEAEA;
box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08);
border-radius: 4px;
}
.a{
    position: absolute;
    cursor: pointer;
width: 184px;
height: 26px;
left: 390px;
top: 3774px;
}
.b{
    position: absolute;
    cursor: pointer;
width: 16px;
height: 26px;
left: 720px;
top: 3774px;
padding-left: 40px;
}
.line4{
    position: absolute;
width: 64px;
height: 0px;
left: 650px;
top: 3790px;

border: 1px solid #c2bdbd;
transform: rotate(-90deg);
}
.new8{
    position: absolute;
width: 240px;
height: 19px;
left: 399px;
top: 3851px;

font-family: 'SF Pro Text';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */

letter-spacing: 0.03em;

color: #0C0C0C;
text-decoration: underline;
}
.line11{
    position: absolute;
width: 640px;
height: 0px;
left: 400px;
top: 3904px;

border: 1px dashed #000000;
}
.img4{
    position: absolute;
width: 71.25px;
height: 71.25px;
left: 398.75px;
top: 3940px;
cursor: pointer;
background: url(.png);
}
.text55{
    
position: absolute;
width: 543px;
height: 78px;
left: 494px;
top: 3936px;

font-family: 'SF Pro Text';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 160%;
/* or 26px */

letter-spacing: 0.05em;
text-transform: uppercase;

color: #423c3c;
}
.line76{
    position: absolute;
height: 0px;
left: 0px;
top: 4146px;

border: 2px solid #000000;
}
.group{
    position: absolute;
width: 82px;
height: 64.29px;
left: 679px;
top: 4114px;
}
.text99{
    position: absolute;
width: 376px;
height: 53px;
left: 532px;
top: 4219px;

font-family: 'New York Extra Large';
font-style: normal;
font-weight: 700;
font-size: 44px;
line-height: 53px;
/* identical to box height */

text-align: center;

color: #000000;
}
.new333{
    position: absolute;
    width: 304px;
    height: 176px;
    left: 221px;
    top: 4299px;
    cursor: pointer;
    background: url(.png);
    display: flex;
}
.op{
    
position: absolute;
width: 288px;
height: 78px;
left: 229px;
top: 4495px;

font-family: 'SF Pro Display';
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 120%;
/* or 26px */

text-align: center;

color: #000000;
}
.new334{
    position: absolute;
width: 304px;
height: 176px;
left: 553px;
top: 4299px;
cursor: pointer;
background: url(.png);          
}
.opp{
    position: absolute;
width: 262px;
height: 52px;
left: 574px;
top: 4495px;

font-family: 'SF Pro Display';
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 120%;
/* or 26px */

text-align: center;

color: #000000;

}
.new335{
    
position: absolute;
width: 304px;
height: 176px;
left: 885px;
top: 4299px;
cursor: pointer;
background: url(.png);
}
.oppp{
    position: absolute;
width: 262px;
height: 78px;
left: 906px;
top: 4495px;

font-family: 'SF Pro Display';
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 120%;
/* or 26px */

text-align: center;

color: #000000;
}
.new336{
    cursor: pointer;
position: absolute;
width: 304px;
height: 176px;
left: 221px;
top: 4607px;

background: url(.png);
}
.opppp{
    
position: absolute;
width: 262px;
height: 78px;
left: 242px;
top: 4803px;

font-family: 'SF Pro Display';
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 120%;
/* or 26px */

text-align: center;

color: #000000;
}
.new337{
    position: absolute;
width: 304px;
height: 176px;
left: 553px;
top: 4607px;
cursor: pointer;
background: url(.png);
}
.oppppp{
    position: absolute;
width: 282px;
height: 104px;
left: 564px;
top: 4803px;

font-family: 'SF Pro Display';
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 120%;
/* or 26px */

text-align: center;

color: #000000;

}
.new338{
    position: absolute;
width: 304px;
height: 176px;
left: 885px;
top: 4607px;
cursor: pointer;
background: url(.png);
}
.opppppp{
    
position: absolute;
width: 270px;
height: 104px;
left: 902px;
top: 4803px;

font-family: 'SF Pro Display';
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 120%;
/* or 26px */

text-align: center;

color: #000000;
}
.new339{
    box-sizing: border-box;

position: absolute;
width: 640px;
height: 313px;
left: 400px;
top: 5021px;

background: #FFFFFF;
border: 1px solid #000000;
}
.new340{
    position: absolute;
width: 444px;
height: 28px;
left: 498px;
top: 5083px;

font-family: 'New York Extra Large';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 28px;
/* identical to box height, or 78% */

text-align: center;

color: #090909;
}
.new341{

    position: absolute;
    width: 538px;
    height: 56px;
    left: 451px;
    top: 5129px;
    
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    /* or 140% */
    
    text-align: center;
    
    color: #090909;
        
}
.email{
    

position: absolute;
left: 460px;
top: 5221px;
background: #FFFFFF;

}
.btn{
    position: absolute;

left: 841px;
top: 5221px;

background: #000000;
}
.btn2{
    top: 5222PX;
    position: absolute;
    left: 860px;
    color: #e0dede;
    cursor: pointer;
}
.group49{
    top: 5500PX;
    position: absolute;
    
}